html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
 }


h1 {
	display: inline;
	float: left;
	width: 250px;
	padding: 5px;
	margin-left: 150px;
	background-color: #4aaaa5;
	font-family: Kaushan Script, Georgia, serif;
	color: #fff;
	font-size: 10px;
}

nav ul {
	float: right;
	margin-right: 180px;
	padding-top: 10px;
	font-size:18px;
	list-style: none;
}

nav li {
	display: inline;
}

a {
	color: #777777;
	text-decoration: none;
}

section {
	float: left;
	width: 500px;
	height: 650	px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
}

section h2 {
	padding: 5px;
	color: #4aaaa5;
	font-size: 30px;
	margin-left: 36px;
	margin-bottom: 5px;
	margin-top: 20px;
}

section hr {
	margin-bottom: 15px;
	height: 10px;
	width: 450px;
  	border: 0;
  	box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

section img {
	width: 155px;
	height: 155px;
	margin-bottom: 15px;
	margin-left: 55px;
}

	
aside #mediaBox {
	height: 200px;
	width: 270px;
	margin-top: 10px;
	text-align: center;
	border: 1px solid #cccccc;
}

aside hr {
	margin-bottom: 5px;
	height: 10px;
	width: 200px;
  	border: 0;
  	box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

aside #mediaBox h2 {
	color: #4aaaa5;
	font-size: 24px;	
}

aside #mediaBox img {
	display: inline;
	height: 55px;
	width: 55px;
	margin-top: 25px;
	margin-left: 15px;	
	margin-right: auto;
}

footer {
	border-top: 10px solid #4aaaa5;
	padding: .05px;
	clear: both;
	background-color: #666666;
	height: 75px;
	color: #fff;
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
}
	
